In [1]:
# Imports
import pandas as pd
import numpy as np
from loss import ape

In [2]:
# Importing dataset
folder_location = 'data'
file_name = 'trains_dataset.csv'
df = pd.read_csv(open(folder_location + '\\' + file_name))

In [3]:
df

      station_id  year  avg_ridership
0          40010  2001        38855.0
1          40010  2002        40928.0
2          40010  2003        41670.0
3          40010  2004        40385.0
4          40010  2005        40838.0
...          ...   ...            ...
2707       41690  2018        45288.0
2708       41690  2019        47060.0
2709       41700  2017       203398.0
2710       41700  2018       264907.0
2711       41700  2019       260506.0

[2712 rows x 3 columns]

In [4]:
def train_test_split(df, no_of_years_in_test_case):
    xtrain = pd.DataFrame(columns = df.columns[:-1])
    ytrain = pd.DataFrame(columns = [df.columns[-1]])
    xtest = pd.DataFrame(columns = df.columns[:-1])
    ytest = pd.DataFrame(columns = [df.columns[-1]])
    
    s_id = df['station_id'].unique()
    
    for s in s_id:
        a = df.loc[df['station_id'] == s]
        xtrain = xtrain.append(a.iloc[:-no_of_years_in_test_case, :-1])
        ytrain = ytrain.append(a.iloc[:-no_of_years_in_test_case, -1:])
        xtest = xtest.append(a.iloc[-no_of_years_in_test_case:, :-1])
        ytest = ytest.append(a.iloc[-no_of_years_in_test_case:, -1:])

    return xtrain, ytrain, xtest, ytest

In [5]:
xtrain, ytrain, xtest, ytest = train_test_split(df, 1)

In [6]:
ytest

      avg_ridership
18          45294.0
37          91818.0
56          37958.0
75         182363.0
94          90953.0
...             ...
2676       537570.0
2695        23227.0
2703        22913.0
2708        47060.0
2711       260506.0

[147 rows x 1 columns]

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

lr = LinearRegression()
lr.fit(xtrain, ytrain)

rr = Ridge(alpha=0.01)
rr.fit(xtrain, ytrain)

rr100 = Ridge(alpha=100)
rr100.fit(xtrain, ytrain)

y_pred_lr = lr.predict(xtest)
y_pred_rr = rr.predict(xtest)
y_pred_rr100 = rr100.predict(xtest)

In [13]:
loss_lr = ape(ytest.values, y_pred_lr)
loss_rr = ape(ytest.values, y_pred_rr)
loss_rr100 = ape(ytest.values, y_pred_rr100)

print('Absolute Percentage Loss (%)')
print('Linear Regression Loss: ' + str(round(loss_lr[0], 2)))
print('Ridge Regression Loss: ' + str(round(loss_rr[0], 2)))
print('Ridge Regression (with alpha 100) Loss: ' + str(round(loss_rr100[0], 2)))

Absolute Percentage Loss (%)
Linear Regression Loss: 2231.6
Ridge Regression Loss: 2231.6
Ridge Regression (with alpha 100) Loss: 2231.32